.about_us

  .perspectives, .perspectives2
    top: 1200px
    position: absolute
    left: 0
    width: 980px

    .text_box
      opacity: 0.0001
      position: absolute
      left: 50%
      width: 640px
      transform: translateX(-50%)

      transition: all .8s ease
      text-align: center
      padding: 24px 10px
      +light(20px,28px)
      &.showed
        opacity: 0.9999

      span
        +bold(24px,36px)
        color: #96B482

    .line
      position: absolute
      background: #000
      transition: width 0.3s ease, height .3s ease
      &.lnp1
        width: 0px //150px
        height: 1px
        right: 20px
        top: 40px
      &.lnp2
        width: 1px
        height: 0px //41px
        right: 169px
        top: 41px
        transform: rotate(180deg)
        transform-origin: 0 0
      &.lnp3
        width: 1px
        height: 0px//37px
        right: 170px
        top: 41px
      &.lnp4
        width: 0px //640px
        top: 0
        right: 170px
        height: 1px

      &.lnp5
        width: 0px //640px
        top: 77px
        right: 170px
        height: 1px

      &.lnp6
        width: 1px
        height: 0px //41px
        right: 640 + 169px
        top: 0px

      &.lnp7
        width: 1px
        height: 0px //37px
        right: 640 + 168px
        top: 77px
        transform: rotate(180deg)
        transform-origin: 0 0

      &.lnp8
        width: 0px //150px
        height: 1px
        right: 810px
        top: 40px


  .stories, .stories2
    position: absolute
    top: 1700px
    left: 0
    width: 100%
    .story
      position: absolute


      .illustration
        position: absolute
        border: solid 2px black
        line-height: 0

        img, video
          width: 100%


      .quote
        padding: 14px
        background: #d8d8d8
        color: #000
        position: absolute
        +light(14px,19px)
        z-index: 10
        width: 205px
        span
          +bold(14px,19px)
          display: block
          margin-top: 10px



      &.story1
        top: 150px
        right: 30px
        width: 300px
        .quote
          right: 0
          top: 100px
        .illustration
          width: 300px
          top: 40px
          right: 150px


      &.story2
        top: 700px
        left: 30px
        width: 500px
        .quote
          left: 0
          top: 150px
        .illustration
          top: 0px
          left: 100px

      &.story3
        top: 1050px
        right: 30px
        width: 400px
        .quote
          right: 0
          top: -50px
        .illustration
          top: 0px
          right: 150px





      &.story4
        top: 1300px
        left: 0px
        width: 500px
        .quote
          left: 50px
          top: 260px
        .illustration
          top: 0px
          left: 200px



      &.story5
        top: 1500px
        right: 30px
        width: 500px
        .quote
          right: 0
          top: 430px
        .illustration
          top: 0px
          right: 30px



  .perspectives2
    top: 3212px
  .stories2
    top: 3700px



