@keyframes rotate
  from
    background-position-x: 0px
  to
    background-position-x: 858px

@keyframes press_me
  0%
    transform: translate(-35%,-50%) rotate(0deg) scale(1)
  50%
    transform: translate(-35%,-50%) rotate(0deg) scale(1.05)
  100%
    transform: translate(-35%,-50%) rotate(0deg) scale(1)


.earth
  padding-top: 120px

  .logo
    width: 500px
    margin: 0 auto 70px auto
    transition: opacity 1s ease, transform 1s ease
    opacity: 0.001
    transform-origin: 50% 50%
    transform: scale(0.3)
    &.showed
      opacity: 0.9999
      transform: scale(1)


    img
      width: 100%

  .path
    position: absolute
    top: 300px
  .call_to_action
    display: block
    position: absolute
    top: 450px
    left: 50%
    transform: translateX(-50%)
    +light(30px,30px)
    color: #666
    transition: all .3s ease

  .why_video
    width: 250px
    height: 250px
    border-radius: 500px
    background: #9eb484
    margin: 0 auto
    position: relative
    transition: all .5s ease
    overflow: hidden
    .play
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-60%) rotate(-90deg)
      width: 140px
      height: 140.5px
      transition: opacity .3s ease, transform .9s ease
      transition-delay: .2s
      cursor: pointer
      transform-origin: 50% 50%
      &.rotated
        transform: translate(-35%,-50%) rotate(0deg)
        animation: press_me 1.5s ease infinite .6s


      img
        width: 100%

    .video_hidden
      display: none
      opacity: 0.0001
      transition: opacity .4s ease

    &.step1
      width: 500px
      height: 281px
      border-radius: 4px
      .play
        opacity: 0.0001

      .video_hidden
        display: block

      & + .call_to_action
        top: 500px
        opacity: 0

        & + .largest
          margin-top: 134px

    &.step2
      width: 500px
      height: 281px
      border-radius: 4px
      .play
        opacity: 0.0001

      .video_hidden
        display: block
        opacity: .9999



      & + .call_to_action
        top: 500px
        opacity: 0

        & + .largest
          margin-top: 124px

    &:hover + .call_to_action
      color: #000


  .largest
    transition: all .3s ease
    margin: 155px auto 80px auto
    text-align: center
    padding: 24px 0
    padding-left: 16px
    background: url('../img/human.png') 90px 50% no-repeat
    background-size: 21.5px 54.5px
    +light(24px,36px)

    span
      +bold(24px,36px)
      color: #96B482


  .globe_container
    margin-bottom: 80px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center

  .globe
    flex: 0 0 193px
    margin-right: 48px
    width: 193px
    height: 193px
    background: #1E2314 url(../img/worldmap.png)
    background-size: 429px 193px
    border-radius: 500px
    background-position: 0px 0px
    &.animated
      animation-name: rotate
      animation-duration: 8s
      animation-iteration-count: infinite
      animation-timing-function: linear





  .over
    flex: 0 0 auto
    border: 1px solid #000
    padding: 18px 20px
    display: block
    transition: opacity 1s ease, transform 1s ease
    opacity: 0.001
    &.showed
      opacity: 0.9999
    +light(20px,20px)
    span
      +bold(20px,20px)
      color: #96B482














