.guidelines
  position: absolute
  top: 0
  left: 0

  width: 980px



  .guide_line
    position: absolute
    background: #000
    &.ln1
      width: 1px
      height: 0px
      left: 20px
    &.ln2
      left: 20px
      top: 750px
      height: 1px
      width: 0px
    &.ln3
      top: 750px
      right: 20px
      height: 0px
      width: 1px
    &.ln4
      top: 1300px
      right: 20px
      height: 0px //1079px
      width: 1px
      transform: rotate(60.4deg)
      transform-origin: 0% 0%
    &.ln5
      top: 1833px
      left: 20px
      height: 0px //330px
      width: 1px

    &.ln6
      left: 20px
      top: 2162px
      height: 1px
      width: 0px //940px


    &.ln7
      top: 2162px
      right: 20px
      height: 0px //750px
      width: 1px

    &.ln8
      top: 2712px
      right: 20px
      height: 0px //1079px
      width: 1px
      transform: rotate(60.4deg)
      transform-origin: 0% 0%

    &.ln9
      top: 3245px
      left: 20px
      height: 0px //330px
      width: 1px


    &.ln10
      top: 3575px
      left: 20px
      height: 1px
      width: 0px //940px

    &.ln11
      top: 3575px
      right: 20px
      height: 0 //750px
      width: 1px


.guidelines_footer
  .guide_line
    position: absolute
    background: #000
    &.ln12
      width: 1px
      height: 0px //350px
      left: 20px
    &.ln13
      width: 0px //40px
      height: 1px
      left: 20px
      top: 350px
    &.ln14
      width: 1px
      height: 0px //40px
      left: 61px
      top: 350px
      transform: rotate(180deg)
      transform-origin: 0 0
    &.ln15
      width: 1px
      height: 0px //40px
      left: 60px
      top: 350px
    &.ln16
      width: 0px //860px
      height: 1px
      left: 60px
      top: 310px
    &.ln17
      width: 0px //860px
      height: 1px
      left: 60px
      top: 390px

    &.ln18
      width: 1px
      height: 0px //40px
      left: 920px
      top: 310px
    &.ln19
      width: 1px
      height: 0px // 40px
      left: 921px
      top: 390px
      transform-origin: 0 0
      transform: rotate(180deg)
    &.ln20
      width: 0px //40px
      height: 1px
      left: 920px
      top: 350px
    &.ln21
      top: 350px
      right: 20px
      height: 0px //500px
      width: 1px


    &.ln22
      top: 850px
      right: 20px
      height: 1px
      width: 0px //481px


    // &.ln23
    //   top: 850px
    //   left: 479.0px
    //   height: 100px
    //   width: 1px





















