.guidelines
  position: absolute
  top: 0
  left: 0

  width: 980px



  .guide_line
    position: absolute
    background: #000
    &.ln1
      width: 1px
      height: 750px
      left: 20px
    &.ln2
      left: 20px
      top: 750px
      height: 1px
      width: 940px
    &.ln3
      top: 750px
      right: 20px
      height: 750px
      width: 1px
    &.ln4
      top: 1500px
      right: 20px
      height: 1079px
      width: 1px
      transform: rotate(60.4deg)
      transform-origin: 0% 0%
    &.ln5
      top: 2033px
      left: 20px
      height: 330px
      width: 1px

    &.ln6
      left: 20px
      top: 2362px
      height: 1px
      width: 940px


    &.ln7
      top: 2362px
      right: 20px
      height: 750px
      width: 1px

    &.ln8
      top: 3112px
      right: 20px
      height: 1079px
      width: 1px
      transform: rotate(60.4deg)
      transform-origin: 0% 0%

    &.ln9
      top: 3645px
      left: 20px
      height: 330px
      width: 1px


    &.ln10
      top: 3975px
      left: 20px
      height: 1px
      width: 940px

    &.ln11
      top: 3975px
      right: 20px
      height: 750px
      width: 1px




