.guidelines_footer
  .guide_line.ln12
  .guide_line.ln13
  .guide_line.ln14
  .guide_line.ln15
  .guide_line.ln16
  .guide_line.ln17
  .guide_line.ln18
  .guide_line.ln19
  .guide_line.ln20
  .guide_line.ln21
  .guide_line.ln22
  .guide_line.ln23