.guidelines
  .guide_line.ln1
  .guide_line.ln2
  .guide_line.ln3
  .guide_line.ln4
  .guide_line.ln5
  .guide_line.ln6
  .guide_line.ln7
  .guide_line.ln8
  .guide_line.ln9
  .guide_line.ln10
  .guide_line.ln11