doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/plugins/debug.addIndicators.min.js")
  style
    include ./stylesheets/_loader.css


body.loading#body
  .loader
    .left
    .right
    .cssload-loader
      include ./assets/svg/logo_loader2.svg

  .wrapper
    .scroller
      .progress
        .icon
          include ./assets/svg/wagon.svg
      .side_menu
        .item.to_home home
        .item.to_about_us about us
        .item.to_get_smarter get smarter
        .item.to_contact contact
    .inner
      .hero#hero
        .bg
          include hero_video
        .logo
          img(src="./img/logo-big.png")


        .scroll_down
          img(src='./svg/scroll_down.svg')
      .spacer#scrolltrigger
        .scrolldown

      section.earth#content_start
        .container
          .path.animated
            include ./assets/svg/largest.svg
          .logo
            img(src="./img/logo-black.png")

          .why_video
            .play
              img(src="./img/play_video.png")
            .video_hidden
              iframe(src="https://player.vimeo.com/video/89055976" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
          .call_to_action.fadein
            | Press play
          .largest.fadein
            | Millennials are the
            = " "
            span LARGEST
            = " "
            | generation on the planet.

          .globe_container
            .globe#globe

            .over.fadein
              | Over
              = " "
              span 80 million
              = " "
              | in the US.

      section.future
        .timeline
          .line
          .points_first
            .point.current 2020
            .point
            .point
            .point
            .point
              span.s2 2040
            .point
              span.s1 2025
          .points_second
            .point
            .point
            .point
            .point
            .point.end
              | 2065
              .vline
                .hline

            .point

        .population
          .population_background
            .bg_row
            .bg_row
            .bg_row
            .bg_row
            .bg_row
            .bg_row
            .bg_row

          .text
            .textbox.t1.fadein
              | By <span>2020</span>, Millennials will represent <span>50%</span> of the global workforce.
            .line
              .filler
            .textbox.t2.fadein
              | By <span>2025</span>, Millennials will represent <span>as much as 75%.</span>




        .money
          .money_column
            .money_sign
          .money_column
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
            .money_sign
            .money_sign
          .money_column
            .money_sign
            .money_sign
            .money_sign
            .money_sign
            .money_sign


        .textbox.total.fadein
          | They already wield an estimated annual purchasing power in
          | the trillions, and their financial capital will explode as they
          | inherit and invest a staggering <span>$36 TRILLION</span> over the
          | next <span>45 years</span>.


      section.about_us
        .video_section.video_section_about_us
          .video_section_bg(style="background-image: url(./img/about-us.jpg)")


          .label
            | About <span>us</span>

        .container.long
          include guidelines
          .who
            .heading.h1.fadein
              | <span>Who</span> we are
            .text_columns
              .col.fadein
                | A boutique creative consultancy focused on helping clients understand and engage the Millennial Generation through <span> Insights, Strategies, and Executions.</span>
              .col.fadein
                | We came up with the term “Urbaneer” because the urban pioneers we were meeting didn’t like being called hipsters. We decided that <span>these influencers and early adopters of the Millennial Generation deserved a new moniker</span> that matched their ingenuity and pioneering spirit.
              .col.fadein
                | We’ve met Millennial Urbaneers all across America, from Los Angeles to Boston— our two locations—and have traveled extensively to observe and collaborate with these innovators. We are constantly conducting quantitative and qualitative proprietary research to learn about emerging trends as they develop—<span>aggregating "Actionable Intelligence,” as we like to call it.</span>


            .heading.h2.fadein
              | <span>What</span> we do


          .iconset.what_we_do
            .item.insights(data-id="b1")
              .icon
                img(src="./img/insight.gif")
              .label Insights
            .item.strategy(data-id="b2")
              .icon
                img(src="./img/strategy.gif")
              .label Strategy
            .item.execution(data-id="b3")
              .icon
                img(src="./img/execution.gif")
              .label Execution


            .black_block.b1.fadein
              .text Expertise is the delta between observation and insight. We’ve built our expertise through many years of observing Millennials as they live, work, and play; we’ve organized these observations into insights that we can share. Today, the insights serve as actionable intelligence for our clients, looking to better understand and engage Millennials.


            .black_block.b2.fadein
              .text We design and deliver insight-driven strategies that help clients understand and engage the Millennial generation as consumers and employees through our proprietary ADI process*:
              .process
                .point AWARENESS
                .arrow
                .point DEMAND
                .arrow
                .point INTENT

              .small_text
                | *ADI was originally conceived in 2006, as an evolved approach towards marketing and media planning for motion pictures.  The process worked, and has been tested across verticals and with non-traditional initiatives (like engaging prospective employees) with great success.


            .black_block.b3.fadein
              .text We flawlessly execute our strategies through a combination of engaging content, thought- provoking campaigns, and corporate culture initiatives. Backed by our parent company, Hamagami/Carroll, Inc., Urbaneer Creative has best-in-class execution capabilities.


          .perspectives
            .line.lnp1
            .line.lnp2
            .line.lnp3
            .line.lnp4
            .line.lnp5
            .line.lnp6
            .line.lnp7
            .line.lnp8
            .text_box Perspectives from Millenials we've met from across the coutry.

          .stories
            .story.story1
              .quote
                | “As long as you have your own thing and believe in it, you can become anything you want to be.”<span>Chris Burcham<br>Detroit, MI</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story1.webm' type='video/webm')
                  source(src='./mov/story1.mp4' type='video/mp4')

            .story.story2
              .quote
                | “Work-life balance definitely matters.”<span>Ellie Caldmeyer<br>Columbus, OH</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story2.webm' type='video/webm')
                  source(src='./mov/story2.mp4' type='video/mp4')
            .story.story3
              .quote
                | “My family’s still in Mexico, I basically have one foot in American culture, and another foot in another culture."<span>Diego Rodriguez<br>Denver, CO</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story3.webm' type='video/webm')
                  source(src='./mov/story3.mp4' type='video/mp4')
            .story.story4
              .quote
                | "It seems like there is a lack of authenticity today."<span>Andy Jones<br>Columbus, OH</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story4.webm' type='video/webm')
                  source(src='./mov/story4.mp4' type='video/mp4')
            .story.story5
              .quote
                | “I think the way millennials look at money and careers is different than other generations”<span>Noah Fisher<br>Brooklyn, NY</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story5.webm' type='video/webm')
                  source(src='./mov/story5.mp4' type='video/mp4')


          .how.fadein
            .heading
              | <span>How</span> we do it



          .iconset.how_we_do_it
            .item.culture(data-id="b4")
              .icon
                img(src="./img/content.gif")
              .label Culture
            .item.communication(data-id="b5")
              .icon
                img(src="./img/campaign.gif")
              .label Communications
            .item.content(data-id="b6")
              .icon
                img(src="./img/culture.gif")

              .label Content

            .black_block.b4.fadein
              .text Content is king. From social media to multimedia, digital content is essential for capturing Millennials’ attention and building brand loyalty. We specialize in creating the dynamic content needed to truly engage Millennials.
            .black_block.b5.fadein
              .text Millennials expect transparent, authentic, ongoing communication with brands. We work with clients to create communication strategies and campaigns designed to maximize opportunities—by delivering it at the right time and in the right way—to create deeper connections with targeted Millennial audiences.

            .black_block.b6.fadein
              .text Your corporate culture matters. Get it wrong, and Millennials will move along in a matter of months. We know what drives and inspires Millennials to do great work, and we use that knowledge to help clients attract and retain the best and brightest of the Millennial generation.


          .perspectives2
            .line.lnp1
            .line.lnp2
            .line.lnp3
            .line.lnp4
            .line.lnp5
            .line.lnp6
            .line.lnp7
            .line.lnp8
            .text_box Perspectives from Millenials we've met from across the coutry.

          .stories2
            .story.story1
              .quote
                | "I love that I’m paid to be creative and tell stories with my camera."
                span Nate Fried-Lipski </br>Boston, MA
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story6.webm' type='video/webm')
                  source(src='./mov/story6.mp4' type='video/mp4')
            .story.story2
              .quote
                | "I want to be able to build a community of people by just going down the street and having a drink and meeting other people with similar interests."<span>Margot Madalengoitia<br>Poughkeepsie, NY</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story7.webm' type='video/webm')
                  source(src='./mov/story7.mp4' type='video/mp4')
            .story.story3
              .quote
                | "I had left another business and saw a really specific opportunity to start my own business."<span>Tanisha Robinson<br>Columbus, OH</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story8.webm' type='video/webm')
                  source(src='./mov/story8.mp4' type='video/mp4')
            .story.story4
              .quote
                | “I studied Urban Planning at M.I.T. to explore how entrepreneurship keeps regions agile."<span>Kathy Cheng<br>Detroit, MI</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story9.webm' type='video/webm')
                  source(src='./mov/story9.mp4' type='video/mp4')
            .story.story5
              .quote
                | "Doing something right is giving back. We want to touch lives. We want to do something bigger and contribute to something."<span>Jordan Davis<br>Columbus, OH</span>
              .illustration
                video(autoplay="autoplay" preload="true" loop='loop')
                  source(src='./mov/story10.webm' type='video/webm')
                  source(src='./mov/story10.mp4' type='video/mp4')

          .get_started.fadein
            .heading
              | <span>Get</span> started



          .iconset.get_started_iconset
            .item.assessments(data-id="b7")
              .icon
                img(src="./img/assessments.gif")
              .label assessments
            .item.workshops(data-id="b8")
              .icon
                img(src="./img/workshops.gif")
              .label Workshops
            .item.speaking(data-id="b9")
              .icon
                img(src="./img/speaking.gif")
              .label speaking <br/> engagements



            .black_block.b7.fadein
              .text Is your brand engaging Millennials? Are you authentic enough for this massive generation of digital natives? We offer custom assessments tailored to your company’s unique needs.


            .black_block.b8.fadein
              .text If you’re ready to dive into the world of Millennials, we offer workshops for you to get the ball rolling. Urbaneer Creative conducts workshops that are customized to your particular area of interest, as it relates to understanding and engaging Millennials. Typically 2-4 hours in length, workshops are structured but flexible, designed to align your team around super-relevant insights and inspire the foundation of a targeted strategy.


            .black_block.b9.fadein
              .text Our founder, Matt Heller, is an expert on the Millennial generation, and a popular speaker on the topic. Matt is best known for his unique, sociological approach to studying the early adopters and influencers within the Millennial Generation, and the anecdotal content he’s collected over the years. Book him to speak at your next conference or event to educate, and entertain the audience about this generation and its unique needs, desires, and aspirations.


        .video_section.get_smarter_video
          .video_section_bg(style="background-image: url(./img/get-smarter.jpg)")


          .label
            | Get <span>smarter</span>


        .container.footer
          include guidelines_footer

          .footer_items
            .footer_item.i1.show_gbrief.fadein
              .illustration
                img(src="./img/the_gbrief.jpg")
              .text the gbrief
            .footer_item.i2.show_frontier.fadein
              .illustration
                img(src="./img/the_frontier.png")
              .text the new <br> frontier
            .footer_item.i3.show_purchase.fadein
              .illustration
                img(src="./img/content.jpg")
              .text content for <br> purchase


          .footer_item_ext.gbrief
            .content_item
              .close
              .text The gbrief
              .illustration
                img(src="./img/thegbrief.jpg")

            .content_block
              .info_block
                .header
                  | MILLENNIALS AND BIKE CULTURE: <br/>
                  | Reshaping the Urban Landscape
                .text
                  | Millennials and bicycles go together like fixies (fixed-gear bikes for those unfamiliar)<br> Fewer are interested in obtaining their driver’s licenses, and buying<br> a car—once a rite of passage into adulthood alongside home ownership and marriage—is<br> often seen as a burden.
              .cta
                | Want to get smarter, faster about Millennials? Our digital destination is updated daily with new insights about today’s largest generation
                a.button(href="http://www.thegbrief.com" target="_blank")
                  | Visit The G Brief

          .footer_item_ext.frontier
            .content_item
              .close
              .text the new frontier
              .illustration

            .content_block
              .cta
                .header
                  | THE NEW FRONTIER:
                | We’ve traveled across the country to meet the early adopters and influencers of the Millennial Generation, and they’re doing very cool stuff. We’ve lived amongst them so you don’t have to, and created a series that explores how they’re approaching life differently than earlier generations. Check it out.
                a.button(href="http://thegbrief.com/new-frontier" target="_blank")
                  | Visit The New Frontier

          .footer_item_ext.purchase_form
            .content_item
              .close
              .text content for purchase
              .illustration
                img(src="./img/content_big.jpg")
            .borders
              include ./assets/svg/first_form1.svg

            .first_form
              .title white paper request
              form
                label.name
                  span name
                  input(type="text")
                label.email
                  span email
                  input(type="text")
                label.message
                  span message
                  textarea

                .submit
                  | submit

        .video_section.contact_us_video
          .video_section_bg(style="background-image: url(./img/contact-us.jpg)")

          .label contact us
        .container.contact

          .contact_form.contact_form_new
            include contact_form









  script(src="javascripts/app.js")
  script.
    if (screen.width <= 800) {
      window.location = "http://www.urbaneercreative.com/mobile/";
    }
  script.
    require('initialize');