.cssload-loader {
  position: relative;
  left: calc(50% - 170px);
  width: 340px;
  top: 100px;
  height: 340px;
  border-radius: 1000px;
  overflow: hidden;
}


.cssload-loader svg {

  width: 100% !important;
  height: 100% !important;
}


@-webkit-keyframes left-wheel{
  from {
    -webkit-transform: translate(235px, 555px) rotate(0deg);
            transform: translate(235px, 555px) rotate(0deg);
  }
  to {
    -webkit-transform: translate(235px, 555px) rotate(360deg);
            transform: translate(235px, 555px) rotate(360deg);
  }
}


@keyframes left-wheel{
  from {
    -webkit-transform: translate(235px, 555px) rotate(0deg);
            transform: translate(235px, 555px) rotate(0deg);
  }
  to {
    -webkit-transform: translate(235px, 555px) rotate(360deg);
            transform: translate(235px, 555px) rotate(360deg);
  }
}
@-webkit-keyframes right-wheel{
  from {
    -webkit-transform: translate(381px, 555px) rotate(0deg);
            transform: translate(381px, 555px) rotate(0deg);
  }
  to {
    -webkit-transform: translate(381px, 555px) rotate(360deg);
            transform: translate(381px, 555px) rotate(360deg);
  }
}
@keyframes right-wheel{
  from {
    -webkit-transform: translate(381px, 555px) rotate(0deg);
            transform: translate(381px, 555px) rotate(0deg);
  }
  to {
    -webkit-transform: translate(381px, 555px) rotate(360deg);
            transform: translate(381px, 555px) rotate(360deg);
  }
}

.cssload-loader #left-wheel {
  /*transform: translate(235px, 555px);*/
  -webkit-transform-origin: 50% 50% !important;
      -ms-transform-origin: 50% 50% !important;
          transform-origin: 50% 50% !important;
  -webkit-animation: left-wheel 1.7s linear infinite 0s;
          animation: left-wheel 1.7s linear infinite 0s;
}
.cssload-loader #right-wheel {
  /*transform: translate(381px, 555px);*/
  -webkit-transform-origin: 50% 50% !important;
      -ms-transform-origin: 50% 50% !important;
          transform-origin: 50% 50% !important;
  -webkit-animation: right-wheel 1.7s linear infinite 0s;
          animation: right-wheel 1.7s linear infinite 0s;
}