@import 'tools/_mixins'
@import 'tools/_helpers'
@import 'tools/_media_queries'
@import 'tools/_normalize'
@import 'tools/_settings'


.section
  width: 90%
  margin: 0 auto
  margin-top: 100px

  hr
    margin-top: 25px
    height: 1px
    background: #3a3a3a
    border: none