@import 'tools/_mixins'
@import 'tools/_helpers'
@import 'tools/_media_queries'
@import 'tools/_normalize'
@import 'tools/_settings'
@import 'sections/_hero'
@import 'sections/_earth'
@import 'sections/_future'
@import 'sections/_about_us'
@import 'sections/_guideline'



body
  min-width: 980px
  width: 100%
  height: 100%

  // overflow-x: hidden

  &.loading
    overflow: hidden

    .loader
      display: block
  &.opening
    .loader
      display: block

.loader
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 800
  display: none
  .cssload-loader
    transition: opacity .25s ease
    opacity: .9999
  .left
    position: absolute
    left: 0
    top: 0
    right: 50%
    bottom: 0
    background: #000
    transition: transform .5s ease
    transform-origin: 0% 50%
  .right
    position: absolute
    left: 50%
    top: 0
    right: 0
    bottom: 0
    background: #000
    transition: transform .5s ease
    transform-origin: 100% 50%

.opening
  .cssload-loader
    opacity: .00001
  .loader
    .left, .right
      transform: scaleX(0)

section
  position: relative
  z-index: 2
  background: #fff

.textbox
  border: 1px solid #000
  padding: 20px 16px
  background: #fff
  +light(18px,23px)
  span
    +bold(18px,23px)
    color: #96B482

.container
  // background: rgba(0,0,0,0.1)

.wrapper
  position: absolute
  min-width: 980px
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  .loading &
    display: none

  .scroller
    position: absolute
    right: 0px
    width: 10px
    height: 100%
    background: #333
    z-index: 100

    .side_menu
      display: flex
      position: absolute
      width: 100vh
      transform: rotate(90deg)
      transform-origin: 0% 0%
      color: #aaa
      justify-content: space-around
      text-transform: uppercase
      padding-top: 16px
      +light(14px,20px)
      .item
        cursor: pointer
        &:hover
          color: #333

    .progress
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 0
      background: #aaa
      .icon
        position: absolute
        bottom: 0px
        left: -20px
        width: 25px
        transform: rotate(270deg) scaleX(1)
        transition: all .3s ease
        transform-origin: 50% 50%
        svg
          width: 100%
          fill: #333
        &.reversed
          transform: rotate(270deg) scaleX(-1)
.inner
  position: absolute
  min-width: 1010px
  top: 0
  left: 0
  right: -30px
  bottom: 0
  overflow-x: hidden
  overflow-y: scroll


.fadein
  transition: all 1s ease
  opacity: 0.0001
  &.showed
    opacity: 0.9999


.disable-hover, .disable-hover *
  pointer-events: none !important