

@function rem($size)
  $remSize: $size / $base-font-size
  @return $remSize * 1rem



@function em($size, $context: $base-font-size)
  @return $size / $context + em

// Px to rem sixing
// @function rem($size, $context: $base-font-size)
//   @return $size / $context + rem

=thin($size: 1rem, $line: 1.5rem, $space: 0.02em)
  @if unit($size) == ""
    $size: rem($size)
  @if unit($line) == ""
    $line: rem($line)
  font: 200 #{$size}/#{$line} 'HelveticaNeue-Thin', 'Helvetica Neue Thin', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing: $space


=light($size: 1rem, $line: 1.5rem, $space: 0.02em)
  @if unit($size) == ""
    $size: rem($size)
  @if unit($line) == ""
    $line: rem($line)
  font: 300 #{$size}/#{$line} 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing: $space


=regular($size: 1rem, $line: 1.5rem, $space: 0.02em)
  @if unit($size) == ""
    $size: rem($size)
  @if unit($line) == ""
    $line: rem($line)
  font: 400 #{$size}/#{$line} 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing: $space

=medium($size: 1rem, $line: 1.5rem, $space: 0.02em)
  @if unit($size) == ""
    $size: rem($size)
  @if unit($line) == ""
    $line: rem($line)
  font: 600 #{$size}/#{$line} 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing: $space

=bold($size: 1rem, $line: 1.5rem, $space: 0.02em)
  @if unit($size) == ""
    $size: rem($size)
  @if unit($line) == ""
    $line: rem($line)
  font: 700 #{$size}/#{$line} 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing: $space






=mobile()
  +max-screen(767px)
    @content


=tablet()
  +screen(768px, 991px)
    @content

=normal()
  +screen(992px, 1200px)
    @content


=hd()
  +min-screen(1201px)
    @content



